@using DisasterResponseSystem.Models.ViewModels
@model IEnumerable<DonationDonorViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Donate</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Donor Name</th>
            <th>Message</th>
            <th>Donation Amount</th>
            <th>Timestamp</th>
        </tr>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.DonorName</td>
                <td>@obj.DonationMessage</td>
                <td>@obj.DonationAmount</td>
                <td>@obj.DonationDate</td>
            </tr>
        }
    </thead>
</table>